<div class="col-xs-12 questionSection">
    <div class="row">
        <h1 class="col-xs-12 text-center">{{currentQuestion.Question}}</h1>
    </div>
    <div class="row">
        <div class="col-xs-12 answers">
            <div ng-repeat="answer in answers" class="text-center">
                <h2 ng-click="answerQuestion(answer)">{{QUESTION_PREFIX[$index]}}. {{answer.Answer}}</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 answers">
            <div ng-repeat="answer in answers" >
                <img ng-src="{{answer.Image}}" ng-click="answerQuestion(answer)"/>
            </div>
        </div>
    </div>
</div>