/** General Items **/
body {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.full-height {
    height: 100%;
}

/** Hint Book **/
#hintBook {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

.cover {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    background-color: #333;
    z-index: 1001;
}

.scroll {
    position: fixed;
    display: flexbox;
    display: flex;
    top: 50px;
    right: 100px;
    bottom: 50px;
    left: 50px;
    z-index: 1002;
}

.scroll > .scroll-side {
    z-index: 1004;
    cursor: pointer;
}

.scroll > #hintContent {
    z-index: 1003;
    background: url('./img/scroll-paper.png');
    background-position-y: center;
    background-repeat: repeat-x;
    background-size: auto 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 0;
    position: relative;
}

.scroll > #hintContent > div {
    width: 100%;
    padding: 10px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.scroll > #hintContent > div > h1, .scroll > #hintContent > div > h3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    overflow: hidden;
}

/** Title Bar **/
#titleBar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 70px;
}

.person-icon {
    display: inline-block;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 48%;
    height: 100%;
}

.person-icon.boy {
    background-image: url('./img/boy.png');
}

.person-icon.girl {
    background-image: url('./img/girl.png');
}

.scrollIcon {
    display: block;
    width: 35px;
    height: 65px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    background: url('./img/scroll-closed.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.scrollIcon:hover {
    background: url('./img/scroll-hover.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

/** Question Section **/
#questionArea {
    position: fixed;
    top: 70px;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 20px;
}

.questionSection {
    display: flexbox;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.questionSection > .row {
    flex: 1;
}

.answers {
    display: flexbox;
    display: flex;
    flex-direction: row;
}

.answers > div > h2:hover {
    color: #00AA00;
    cursor: pointer;
}

.answers > div {
    flex: 1;
}

.answers > div > img {
    display: block;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}